html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
 //outline: 1px solid red;
}

body {
  @include indent-reset;
  position: relative;
}

a {
  @include link-reset;
  color: inherit;
}

ul,
li,
dl,
dd {
  @include list-reset;
}

