.color__text {
  color: $color-secondary;
}

.color__dark {
  color: $color-dark;
}

.color__bg-bright {
  background: $color-bright;
}

.color__white {
  color: $color-primary;
}

.color__bright-element {
  color: $color-primary;
  background: $color-bright;
}
