.color-text {
  color: $color-secondary;
}

.color-dark {
  color: $color-dark;
}

.color-bg-bright {
  background: $color-bright;
}

.color-white {
  color: $color-primary;
}

.color-bright-element {
  color: $color-primary;
  background: $color-bright;
}
