@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');

body {
  font-size: $font-size-base;
  line-height: 26px;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: $font-weight-regular;
}

.text-regular {
  font-weight: $font-weight-regular;
}

.text-medium {
  font-weight: $font-weight-medium;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-xxs {
  line-height: 15px;
  font-size: $font-size-xxs;
}

.text-xs {
  line-height: 21px;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
}

.text-s {
  line-height: 23px;
  font-size: $font-size-s;
}

.text-m {
  font-size: $font-size-m;
}
