@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');

body {
  font-size: $font-size-base;
  line-height: $line-height-basic;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $font-weight-regular;
}
