.heading {
  position: relative;
  width: 85%;
  font-weight: $font-weight-extrabold;
  font-size: $display-3;
  line-height: $line-height-heading;
}

.heading::before {
  position: absolute;
  content: attr(data-text);
  top: -20px;
  left: 0;
  width: 542px;
  height: 50;
  opacity: 0.03;
  font-weight: $font-weight-extrabold;
  font-size: $display-1;
  line-height: 67px;
}
