.tour__difficulty {
  background: url("../../img/star.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.tour__list {
  margin-bottom: 60px;
  margin-right: -20px;
}

.tour__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 384px;
  height: 412px;
  padding: 20px;
  margin-right: 10px;
}

.tour__item img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.tour__description-top {
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 22px;
}

.tour__description-bottom {
  justify-content: space-between;

  & dt {
    font-size: $font-size-xxs;
    font-weight: $font-weight-light;
    line-height: $line-height-auto;
    margin-bottom: 5px;
  }

  & dd {
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    line-height: 20px;
  }
}

.tour__destination {
  position: relative;
  width: 115px;
  padding: 5px 20px;
  padding-left: 38px;
  font-size: $font-size-s;

  font-weight: $font-weight-medium;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 18px;
    width: 20px;
    height: 20px;
    background: url("../../img/pin.svg") no-repeat;
  }
}

.tour__item h3 {
  @include indent-reset;
  position: relative;
  width: 250px;
  margin-bottom: 40px;
  font-weight: $font-weight-bold;
  font-size: $display-4;
  line-height: $line-height-auto;

  &::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 0;
    width: 79px;
    height: 1px;
    background-color: $color-primary;
    opacity: 0.28;
  }
}

.tour__duration {
  position: relative;
  font-size: $font-size-xxs;
  line-height: $line-height-auto;
}

.tour__duration--icon-day::before {
  position: absolute;
  content: "";
  background: url("../../img/sun.svg") no-repeat;
  width: 22px;
  height: 22px;
  top: -5px;
  left: -30px;
}

.tour__duration--icon-night::before {
  position: absolute;
  content: "";
  background: url("../../img/moon.svg") no-repeat;
  width: 22px;
  height: 22px;
  top: -5px;
  left: -30px;
}


.tour__link {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 384px;
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: $line-height-auto;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &::before,
  &::after {
    color: black;
    content: "";
    position: absolute;
    width: 5px;
    height: 1px;
    background-color: #464646;
  }

  &::before {
    left: 68px;
    top: 11px;
    -webkit-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
    transform: rotate(48deg);
  }

  &::after {
    left: 68px;
    top: 14px;
    -webkit-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    transform: rotate(-48deg);
  }

}
